* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


body {
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    flex: 1;
    max-width: 1400px;
}

/* header section*/

.header {
    width: 100%;
}

.nav-block {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(105, 255, 6, 0.1);
    transition: 0.5s;
    z-index: 2;
    pointer-events: none;
}

.header:hover:before {
    left: -50%;
    transform: skewX(-15deg);
    z-index: 2;
}


.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    cursor: pointer;
}

.logo span:nth-child(1) {
    font-weight: bolder;
}

.logo span:nth-child(2) {
    opacity: .5;
}


.nav-block nav {
    display: flex;
    align-items: center;
}

.nav-block nav .menu {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-block nav .menu li {
    padding: 0 30px;
}

.nav-block nav .menu li a {
    font-size: 1rem;
    line-height: 1.2rem;
    color: #0b0b0b;
    opacity: .5;
    position: relative;
}

.nav-block nav .menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #7FC33C;
    transition: width .3s;
    position: absolute;
    left: 0;
    margin-top: 2px;
}

.nav-block nav .menu li a:hover::after {
    width: 100%;
    transition: width .3s;
}


.nav-block nav .menu li .active {
    color: #0b0b0b;
    opacity: 1;
}


.nav-block nav .info-section {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    height: 100%;

}

.nav-block nav .info-section .card, .user {
    display: block;
    width: 50px;
    cursor: pointer;
}

.nav-block nav .info-section span img {
    width: 20px;
}

.nav-block nav .info-section .card {
    position: relative;
}

.nav-block nav .info-section .card .point {
    position: absolute;
    width: 15px;
    left: 0;
    top: 0;
    margin-left: 16px;
    margin-top: -4px;
    height: 15px;
    border-radius: 50%;
    background-color: #7FC33C;
    color: white;
    padding: 3px;
    text-align: center;
    font-size: 7px;
    line-height: 9px;
    display: block;
}



/* banner-section  */


.content-container {
    width: 100%;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    flex: 1;
    max-width: 1400px;
    max-height: 100vh;
}
.banner-section {
    width: 100%;
    max-height: 50vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-top: 2rem;
}

.left-block {
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.left-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.left-card .img-card {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
}

.left-card .img-card .first-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;
}

.effect-img {
    position: absolute;
    right: 60%;
    top: 70%;
    width: 50px;
    z-index: 1;
    transition: all .3s ease-in-out;
    animation: animation 5s ease 3s infinite alternate;
    animation-duration: 2s;
}

.effect-q-img{
    position: absolute;
    right: 80%;
    top: 80%;
    width: 50px;
    z-index: 1;
    transition: all .3s ease-in-out;

}


.left-card .card-text {
    width: 300px;
    z-index: 2;
}


.left-card .card-text .title {
    font-size: 2rem;
    line-height: 2rem;
    display: block;
    opacity: 1;
    margin-bottom: 1.5rem;
}

.left-card .card-text .description {
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: 1;
    letter-spacing: 1px;
    white-space: normal;
    font-weight: unset;
    font-family: Arial;;
}


.right-block {
    width: 100%;
    position: relative;
}

.right-block .cart {
    padding-left: 5rem;
}

.right-block .cart img{
    width: 100%;
    height: 100%;

}

.right-block .leaf, .leaf-small {
    position: absolute;
    background-image: url("./images/leaf.png");
    background-position: right bottom;
    background-position: -35% 75%;
    background-size: 82px 35px;
    background-repeat: no-repeat;
    width: 92px;
    height: 100px;
    left: 0;
    top: 50%;
    animation: leafanimation 3s ease-in-out 2s infinite;
    opacity: 0;

}

.leaf-small {
    background-position: -10% 55%;
    background-size: 82px 25px;
    background-repeat: no-repeat;
    width: 92px;
    height: 100px;
    top: 70%;
    animation: leafanimation 5s ease-out 5s infinite;
    opacity: 0;

}

.leaf-last {
    background-position: -50% 40%;
    background-size: 82px 25px;
    background-repeat: no-repeat;
    width: 92px;
    height: 100px;
    top: 80%;
    animation: leafanimation 3s ease-in-out 2s infinite;
    opacity: 0;

}


@keyframes leafanimation {
    0% {
        transform: rotate(-10deg) translateY(0px);
        opacity: 0;
    }

    10% {
        transform: rotate(-2deg) translateY(10px);
        opacity: 1;
    }
    20% {
        transform: rotate(5deg) translateY(20px);
        opacity: 1;
    }
    30% {
        transform: rotate(8deg) translateY(30px);
        opacity: 1;
    }
    40% {
        transform: rotate(10deg) translateY(35px);
        opacity: 1;
    }
    50% {
        transform: rotate(10deg) translateY(45px);
        opacity: 1;
    }
    60% {
        transform: rotate(9deg) translateY(45px);
        opacity: 1;
    }
    75% {
        transform: rotate(12deg) translateY(50px);
        opacity: 1;
    }
    100% {
        transform: rotate(15deg) translateY(60px);
        opacity: 0;
    }
}


@keyframes animation {
    0% {
        transform: rotate(-1deg) translateY(0px);
    }
    10% {
        transform: rotate(1deg) translate(10px, 5px);
        opacity: 1;
    }
    20% {
        transform: rotate(1.5deg) translate(11px,5px);
        opacity: 1;
    }
    30% {
        transform: rotate(2deg) translate(15px,7px);
        opacity: 1;
    }
}

.footer{
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 3rem;
}

.footer .footer-block{
    width: calc(100% - 3px);
    height: 100px;
    border: 3px solid #2D9DC3;
    background: #2a9e4b;
    background: -moz-linear-gradient(45deg, #2a9e4b 0%, #44fc59 100%);
    background: -webkit-linear-gradient(45deg, #2a9e4b 0%,#44fc59 100%);
    background: linear-gradient(45deg, #2a9e4b 0%,#44fc59 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a9e4b', endColorstr='#44fc59',GradientType=1 );
    display: flex;
}

.footer .footer-item{
    width: 25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


.footer .footer-item:not(:last-child)::after{
    content: "";
    width: 1px;
    height: 80%;
    position: absolute;
    background-color: #FFFFFF;
    top: 10%;
    right: 0;
    opacity: .5;
}
.footer .footer-item .item{



}
.footer .footer-item .item .title{
    color: #608832;
}

.footer .footer-item .item .count{
    color: #FFFFFF;
    opacity: .8;
    padding: 0 10px;
}

.footer .footer-item .item .icon{
    color: #FFFFFF;

}



.footer .footer-block:after{
    content:'';
    display:inline-block;
    width:100%; height:100%;
    margin-right:-100%;
    border-bottom:1px solid #000;

}
