* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


body {
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    flex: 1;
    max-width: 1400px;
}

/* header section*/

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}


.nav-block {
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;

}


.nav-block .logo-section img {
    width: 80px;
}

.nav-block .logo-section {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}


.nav-block .logo-section:hover::before {
    opacity: 1;
}

.nav-block .logo-section:hover::after {
    opacity: 1;
}


.nav-block .logo-section::before {
    position: absolute;
    content: '';
    top: 10%;
    left: 0;
    width: 80%;
    height: 80%;
    border: 2px solid #11eedb;
    border-radius: 50%;
    opacity: 0;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}


.nav-block .logo-section::after {
    position: absolute;
    opacity: 0;
    content: '';
    top: 10%;
    left: 0;
    width: 80%;
    height: 80%;
    border: 2px solid #11eedb;
    border-radius: 50%;
    transform: rotateY(120deg);
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}


.nav-block .menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;

}

.nav-block .menu li {
    padding: 10px 20px;
    list-style: none;
    box-sizing: border-box;
    position: relative;
}

.nav-block .menu li::before {
    position: absolute;
    content: '';
    right: -1%;
    top: 0;
    width: 0;
    height: 2px;
    background-color: #11eedb;
    transition: 0.2s ease-in-out width;
}

.nav-block .menu li:hover::before {
    width: 100%;
    transition: .5s ease-in-out width;
}


.nav-block .menu li::after {
    position: absolute;
    content: '';
    left: -1%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #11eedb;
    transition: 0.2s ease-in-out width;
}

.nav-block .menu li:hover::after {
    width: 100%;
    transition: .5s ease-in-out width;
}


.nav-block .menu li a {
    color: #0b0b0b;
    font-size: .85rem;
    font-weight: normal;
    opacity: .8;
    cursor: pointer;
}


.wrapper-content {
    flex: 1;
    min-height: 100vh;


}

.wrapper-content .banner-section {
    background-color: #929292;
    width: 100%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.wrapper-content .banner-section::before{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 60vh;
    content: "";
    width: 100%;
    height: 20vh;
    background-color: #929292;
    z-index: 1;

}

.banner-section .sub-title .love {
    display: inline-block;
    position: relative;
    width: 30px;
    margin-right: 10px;
    background-image: url("./images/icons/like.svg");
    color: white;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

.banner-section .sub-title h3{
    font-size: 2rem;
    letter-spacing: 5px;
    padding: 20px;
    line-height: 3rem;
    color: #FFFFFF;
    font-weight: unset;
}


.banner-section .description{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: unset;
    width: 500px;
    text-align: center;
}


.banner-section .btn-b{
    outline: none;
    padding: 10px 40px;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    background-color: #7F7F7F;
    color: #FFFFFF;
    margin-top: 2rem;
}


.banner-section .btn-b:active{
    transform: scale(1.05);
}

.card-section{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-bottom: 5rem;
}


.card-section .card-block{
    width: 100%;
    z-index: 2;
    height: 100%;
    max-width: 300px;
    max-height: 380px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-left: 30px;
    background-color: #FFFFFF;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}


.card-section .card-block .images{
    padding: 40px 60px;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
}

.card-section .card-block:hover{
    transform: translateY(-15px);
}

.card-section .card-block .images img{
    width: 100%;
    height: 100%;
}

.card-section .card-block .text-section{
    width: 100%;
    height: 50%;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    overflow: hidden;
}
.card-section .card-block .text-section .title{
    color: #0b0b0b;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bolder;
    line-height: 2rem;
    opacity: .8;
}


.card-section .card-block .text-section .description-card{
    color: #0b0b0b;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    opacity: .8;
}







@-ms-keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@-moz-keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }

}


@-webkit-keyframes love {
    to {-webkit-transform: scale(1.2);}
}
@-moz-keyframes love {
    to {-moz-transform: scale(1.2);}
}
@keyframes love {
    to {transform: scale(1.2);}

}
